.projects {
  &_project {
    .project_container {
      width: 100%;
      height: auto;
      margin-block-end: 20px;
      border-radius: 10px;
      box-shadow: 1px 1px 5px 0px $Color-secundario;
      .container_imgs {
        width: 100%;
        height: auto;
        min-height: 250px;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        .imgs_desktop {
          img {
            object-fit: contain;
          }
        }
      }
      .container_description {
        width: 100%;
        height: auto;
        padding: 35px 20px 20px;
        .description_buttons {
          width: 100%;
          height: auto;
          margin-block: 20px;
          @include flex;
          .buttons button {
            @include button_mobile;
            padding: 5px 42px;
          }
        }
        .description_technologies {
          @include flex;
          justify-content: center;
          width: 100%;
          height: auto;
          .technologies_container {
            width: 60px;
            height: 57px;
            text-align: center;
            .technologies_icon {
              width: 40px;
              height: 40px;
              margin: 0 auto;
            }
            p {
              font-size: $p-size-p2;
            }
          }
        }
      }
    }
  }
}