.projects {
  &_project {
    .project_container {
      width: 100%;
      height: auto;
      margin-block-end: 20px;
      border-radius: 10px;
      box-shadow: 2px 2px 8px 0px $Color-secundario;
      .container_imgs {
        width: 100%;
        height: auto;
        min-height: 234px;
        border-radius: 10px 10px 0 0;
        .imgs_desktop {
          border-radius: 10px 10px 0 0;
          img {
            border-radius: 10px 10px 0 0;
          }
        }
      }
      .container_description {
        width: 100%;
        height: auto;
        padding: 15px;
        h3 {
          margin-block-end: 5px;
          color: $Color-secundario;
        }
        .description_technologies {
          @include flex-wrap-center;
          width: 100%;
          margin-block-start: 10px;
          .technologies_container {
            width: 42px;
            .technologies_icon {
              width: 30px;
              margin: 0 auto;
            }
            p {
              font-size: $p-size-p2;
            }
          }
        }
        .description_buttons {
          @include flex-wrap-center;
          width: 100%;
          height: 50px;
          margin-block-start: 10px;
          a {
            @include button_mobile;
            width: 100%;
            text-align: center;
          }
          a:hover {
            @include button_mobile_hover;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 424px) {
  .projects {
    &_project {
      .project_container {
        max-width: 390px;
        margin-inline: auto;
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .projects {
    &_project {
      .project_container {
        max-width: 335px;
        margin-block-end: 30px;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .projects {
    &_project {
      .project_container {
        max-width: 350px;
      }
    }
  }
}
