html {
  font-size: 62.5%;
}

body {
  max-width: 100vw;
  width: 100vw;
  font-family: $Fuente1;
  color: $Color-claro;
  background-color: $Color-complemento;
}

h1 {
  font-size: $h1-size-p;
  line-height: $h1-lh-size-p;
}
h2 {
  font-size: $h2-size-p;
  line-height: $h2-lh-size-p;
}
h3 {
  font-size: $h3-size-p;
  line-height: $h3-lh-size-p;
}
h4 {
  font-size: $h4-size-p;
  line-height: $h4-lh-size-p;
}
p {
  font-size: $p-size-p;
  line-height: $p-lh-size-p;
}

section {
  padding: 30px 20px;
}