html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  font-family: $Fuente1;
  color: $Color-claro;
  background-color: $Color-primario;
}

h1 {
  font-size: $h1-size-p;
  line-height: $h1-lh-size-p;
  font-weight: 700;
  color: $Color-secundario;
  text-align: center;
}
h2 {
  font-size: $h2-size-p;
  line-height: $h2-lh-size-p;
  font-weight: 700;
  color: $Color-secundario;
  margin-block-end: 10px;
}
h3 {
  font-size: $h3-size-p;
  line-height: $h3-lh-size-p;
  font-weight: 600;
}
h4 {
  font-size: $h4-size-p;
  line-height: $h4-lh-size-p;
}
p {
  font-size: $p-size-p;
  line-height: $p-lh-size-p;
}

section {
  max-width: 1240px;
  width: 100%;
  margin: auto;
  padding: 20px;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 767px) {
  section {
    padding: 30px;
  }
}
