$Color-primario: #0d0801;
// $Color-secundario: #335b9c;
$Color-secundario: #2591fb;
$Color-secundario_op: rgba(37, 145, 251, 0.1);
$Color-variante: #e28e00;
// $Color-complemento: #141f30;
$Color-complemento: #000780;
$Color-complemento2: #7898CA;
$Color-claro: #ffffff;
$Color-claro2: #E3D9D9;
$Fuente1: "Roboto", sans-serif;
$p-size-p2: 1.2rem;
$p-size-p: 1.5rem;
$p-size-g: 1.6rem;
$h4-size-p: 1.755rem;
$h4-size-g: 1.92rem;
$h3-size-p: 2.053rem;
$h3-size-g: 2.304rem;
$h2-size-p: 2.402rem;
$h2-size-g: 2.765rem;
$h1-size-p: 2.811rem;
$h1-size-g: 3.318rem;
$p-lh-size-p2: 1.5rem;
$p-lh-size-p: 1.95rem;
$p-lh-size-g: 2rem;
$h4-lh-size-p: 2.194rem;
$h4-lh-size-g: 2.4rem;
$h3-lh-size-p: 2.567rem;
$h3-lh-size-g: 2.88rem;
$h2-lh-size-p: 3.003rem;
$h2-lh-size-g: 3.456rem;
$h1-lh-size-p: 3.514rem;
$h1-lh-size-g: 4.147rem;

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

@mixin flex-wrap-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin article-tech-icon {
  max-width: 70px;
  height: auto;
  padding: 3px 5px;
  img {
    width: 30px;
    margin-block-end: 3px;
  }
  p {
    width: 100%;
    font-size: $p-size-p2;
  }
}

@mixin button_mobile {
  display: inline;
  width: auto;
  height: 40px;
  padding: 10px 12px;
  color: $Color-claro;
  font-size: 1.8rem;
  line-height: 2.52rem;
  background: linear-gradient(to right, $Color-complemento 0%, $Color-secundario 100%);
  border-radius: 10px;
  filter: drop-shadow(2px 2px 4px $Color-complemento2);
  transition: 0.5s;
  cursor: pointer;
}

@mixin button_mobile_hover {
  background: linear-gradient(to left, $Color-complemento 0%, $Color-secundario 100%);
  transform: scale(1.02);
}

@mixin description_section {
  width: 100%;
  height: auto;
  &_description {
    p {
      margin-block-end: 20px;
    }
  }
}
