$Color-primario: #0d0801;
// $Color-secundario: #335b9c;
$Color-secundario: #2591fb;
$Color-variante: #e28e00;
// $Color-complemento: #141f30;
$Color-complemento: #000780;
$Color-complemento2: #7898CA;
$Color-claro: #ffffff;
$Color-claro2: #E3D9D9;
$Fuente1: "Roboto", sans-serif;
$p-size-p2: 1.2rem;
$p-size-p: 1.5rem;
$p-size-g: 1.6rem;
$h4-size-p: 1.8rem;
$h4-size-g: 2rem;
$h3-size-p: 2.16rem;
$h3-size-g: 2.50rem;
$h2-size-p: 2.59rem;
$h2-size-g: 3.13rem;
$h1-size-p: 3.11rem;
$h1-size-g: 3.90rem;
$p-lh-size-p2: 1.68rem;
$p-lh-size-p: 2.1rem;
$p-lh-size-g: 2.24rem;
$h4-lh-size-p: 2.52rem;
$h4-lh-size-g: 2.8rem;
$h3-lh-size-p: 3.03rem;
$h3-lh-size-g: 3.50rem;
$h2-lh-size-p: 3.63rem;
$h2-lh-size-g: 4.38rem;
$h1-lh-size-p: 4.35rem;
$h1-lh-size-g: 5.46rem;

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

@mixin button_mobile {
  display: inline;
  width: auto;
  height: 46px;
  padding: 10px 12px;
  color: $Color-claro;
  font-size: 1.8rem;
  line-height: 2.52rem;
  background-color: $Color-secundario;
  border: 2px solid $Color-complemento2;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px $Color-complemento2;
  cursor: pointer;
}

@mixin description_section {
  width: 100%;
  height: auto;
  &_description {
    p {
      margin-block-end: 20px;
    }
  }
}
