footer {
  width: 100%;
  height: auto;
  margin-block-start: 20px;
  padding-block: 10px;
  box-shadow: 0 1px 10px 0 $Color-secundario;
  .footer {
    width: 100%;
    height: auto;
    text-align: center;
    &_logo {
      width: 250px;
      height: 30px;
      margin: 0 auto;
    }
    &_social {
      width: 250px;
      height: 40px;
      margin: 10px auto;
      @include flex;
      .social_icon {
        width: 35px;
        height: 35px;
        filter: drop-shadow(1px 1px 5px $Color-secundario);
      }
      .social_icon:hover {
        filter: drop-shadow(1px 1px 5px $Color-complemento2);
      }
    }
  }
}

@media screen and (min-width: 767px) {
  footer {
    .footer {
      @include flex-wrap-center;
      &_logo {
        margin: 10px 20px;
      }
      &_social {
        margin: 10px 20px;
      }
    }
  }
}

@media screen and (min-width: 1240px) {
  footer {
    margin-block-start: 40px;
    padding: 0;
    .footer {
      @include flex-wrap-center;
      justify-content: space-between;
    }
  }
}