.hero {
  @include description_section;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/base-de-imagenes-proyectos.appspot.com/o/Blur-bg.png?alt=media&token=f8b61de7-2c79-469b-9083-6a1ffc1c4ca2);
  background-repeat: no-repeat;
  background-position: center 80px;
  background-size: 250px;
  &_avatar {
    width: 190px;
    height: 190px;
    margin: 20px auto;
  }
  &_technologies {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 10px;
    text-align: center;
    .technologies_front {
      @include flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
      h3 {
        width: 100%;
        margin-block-end: 10px;
      }
      article {
        @include flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 20%;
        height: auto;
        padding: 8px;
        img {
          width: 40px;
          margin-block-end: 5px;
        }
        p {
          font-size: $p-size-p2;
        }
      }
    }
  }
  &_social {
    width: 250px;
    height: 40px;
    margin: 0 auto 20px;
    @include flex;
    .social_icon {
      width: 40px;
      height: 40px;
      filter: drop-shadow(3px 3px 5px $Color-primario);
    }
  }
  &_buttonCV {
    margin: 0 auto 20px;
    text-align: center;
    button {
      @include button_mobile;
    }
  }
  &_hobbies {
    @extend .aboutMe_social;
    margin: 0 auto;
    .hobbies_icon {
      width: 40px;
      height: 40px;
    }
    .hobbies_icon:first-child {
      width: 45px;
    }
  }
}
