.hero {
  padding-block-start: 30px;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/base-de-imagenes-proyectos.appspot.com/o/Blur-bg.png?alt=media&token=f8b61de7-2c79-469b-9083-6a1ffc1c4ca2);
  background-repeat: no-repeat;
  background-position: center 90px;
  background-size: 250px;
  &_avatar {
    width: 190px;
    height: 190px;
    margin: 20px auto;
  }
  &_technologies {
    width: 100%;
    height: auto;
    text-align: center;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/base-de-imagenes-proyectos.appspot.com/o/Blur-bg2.png?alt=media&token=3b393643-5da1-4c33-a721-8f1aeda97179), url(https://firebasestorage.googleapis.com/v0/b/base-de-imagenes-proyectos.appspot.com/o/Blur-bg2.png?alt=media&token=3b393643-5da1-4c33-a721-8f1aeda97179), url(https://firebasestorage.googleapis.com/v0/b/base-de-imagenes-proyectos.appspot.com/o/Blur-bg2.png?alt=media&token=3b393643-5da1-4c33-a721-8f1aeda97179);
    background-repeat: no-repeat;
    background-position: 50% 0%, 0% 60%, 0% 0%;
    background-size: 150px, 100px, 50px;
    animation: AnimateBGTech 30s linear infinite;
    h4 {
      margin-block-end: 5px;
    }
    .front_container, .back_container, .other_container {
      @include flex-wrap-center;
      max-width: 380px;
      width: 100%;
      height: auto;
      margin-block-end: 10px;
      padding: 5px;
      border-radius: 10px;
      box-shadow: 1px 1px 6px 1px $Color-secundario;
      article {
        @include flex-wrap-center;
        @include article-tech-icon;
        width: 25%;
      }
    }
  }
  &_social {
    width: 250px;
    height: 40px;
    margin: 0 auto;
    @include flex;
    .social_icon {
      width: 35px;
      height: 35px;
      filter: drop-shadow(1px 1px 5px $Color-secundario);
    }
    .social_icon:hover {
      filter: drop-shadow(1px 1px 5px $Color-complemento2);
    }
  }
  &_buttonCV {
    height: 40px;
    margin: 40px auto 20px;
    text-align: center;
    a {
      @include button_mobile;
    }
    a:hover {
      @include button_mobile_hover;
    }
  }
}

@keyframes AnimateBGTech {
  0% {
    background-position: 50% 0%, 0% 60%, 0% 0%;
    background-size: 150px, 100px, 50px;
  }
  20% {
    background-position: 100% 40%, 30% 0%, 0% 100%;
    background-size: 130px, 125px, 80px;
  }
  40% {
    background-position: 60% 100%, 60% 0%, 100% 0%;
    background-size: 110px, 100px, 110px;
  }
  60% {
    background-position: 30% 100%, 100% 60%, 100% 100%;
    background-size: 110px, 100px, 110px;
  }
  80% {
    background-position: 0% 40%, 50% 100%, 50% 50%;
    background-size: 130px, 75px, 80px;
  }
  100% {
    background-position: 50% 0%, 0% 60%, 0% 0%;
    background-size: 150px, 100px, 50px;
  }
}

@media screen and (min-width: 424px) {
  .hero {
    &_technologies {
      .front_container, .back_container, .other_container {
        margin-inline: auto;
        article {
          width: 20%;
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .hero {
    position: relative;
    min-height: 395px;
    background-position: calc(50% + 245px) 105px;
    h1 {
      width: 100%;
    }
    &_avatar {
      position: absolute;
      top: 100px;
      left: calc(50% + 145px);
      width: 200px;
      height: 200px;
    }
    &_technologies {
      width: 72%;
      margin-block-start: 30px;
      background-image: url(https://firebasestorage.googleapis.com/v0/b/base-de-imagenes-proyectos.appspot.com/o/Blur-bg2.png?alt=media&token=3b393643-5da1-4c33-a721-8f1aeda97179), url(https://firebasestorage.googleapis.com/v0/b/base-de-imagenes-proyectos.appspot.com/o/Blur-bg2.png?alt=media&token=3b393643-5da1-4c33-a721-8f1aeda97179), url(https://firebasestorage.googleapis.com/v0/b/base-de-imagenes-proyectos.appspot.com/o/Blur-bg2.png?alt=media&token=3b393643-5da1-4c33-a721-8f1aeda97179), url(https://firebasestorage.googleapis.com/v0/b/base-de-imagenes-proyectos.appspot.com/o/Blur-bg2.png?alt=media&token=3b393643-5da1-4c33-a721-8f1aeda97179);
    background-repeat: no-repeat;
    background-position: 50% 0%, 0% 60%, 0% 0%, 50% 50%;
    background-size: 160px, 120px, 80px, 40px;
      .technologies_front, .technologies_back, .technologies_other {
        @include flex-wrap-center;
        margin-block-end: 15px;
        h4 {
          margin-inline-end: 15px;
        }
      }
      .front_container, .back_container, .other_container {
        max-width: 420px;
        width: auto;
        margin: 0;
        article {
          width: 14%;
          padding: 0;
        }
      }
      .back_container {
        max-width: 290px;
        article {
          width: 25%;
        }
      }
      .other_container {
        max-width: 190px;
        article {
          width: 33%;
        }
      }
    }
    &_social {
      position: absolute;
      top: 330px;
      left: calc(50% + 145px);
      width: 200px;
    }
    &_buttonCV {
      position: absolute;
      top: 315px;
      left: calc(50% - 150px);
    }
  }

  @keyframes AnimateBGTech {
    0% {
      background-position: 50% 0%, 0% 60%, 0% 0%, 95% 100%;
      background-size: 160px, 120px, 80px, 40px;
    }
    20% {
      background-position: 95% 40%, 30% 0%, 25% 20%, 75% 80%;
      background-size: 140px, 130px, 90px, 60px;
    }
    40% {
      background-position: 70% 100%, 70% 0%, 50% 50%, 50% 50%;
      background-size: 120px, 110px, 60px, 80px;
    }
    60% {
      background-position: 30% 100%, 95% 60%, 25% 80%, 75% 20%;
      background-size: 110px, 100px, 50px, 70px;
    }
    80% {
      background-position: 0% 40%, 50% 95%, 0% 100%, 95% 0%;
      background-size: 140px, 130px, 90px, 60px;
    }
    100% {
      background-position: 50% 0%, 0% 60%, 0% 0%, 95% 100%;
      background-size: 160px, 120px, 80px, 40px;
    }
  }
}

@media screen and (min-width: 900px) {
  .hero {
    background-position: calc(50% + 280px) 105px;
    &_avatar {
      top: 110px;
      left: calc(50% + 180px);
    }
    &_technologies {
      width: 70%;
    }
    &_social {
      top: 335px;
      left: calc(50% + 185px);
    }
    &_buttonCV {
      left: calc(50% - 170px);
    }
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    min-height: 400px;
    background-position: calc(50% + 290px) 100px;
    background-size: 270px;
    &_avatar {
      top: 100px;
      left: calc(50% + 180px);
      width: 220px;
      height: 220px;
    }
    &_social {
      top: 350px;
      left: calc(50% + 200px);
    }
    &_buttonCV {
      top: 325px;
    }
  }
}

@media screen and (min-width: 1240px) {
  .hero {
    min-height: 440px;
    padding-block-start: 40px;
    background-position: calc(50% + 335px) 100px;
    background-size: 310px;
    &_avatar {
      top: 110px;
      left: calc(50% + 210px);
      width: 250px;
      height: 250px;
    }
    &_technologies {
      width: 67%;
      margin-block-start: 50px;
      .technologies_front, .technologies_back, .technologies_other {
        @include flex-wrap-center;
        margin-block-end: 20px;
        h4 {
          margin-inline-end: 20px;
        }
      }
    }
    &_social {
      top: 385px;
      left: calc(50% + 245px);
    }
    &_buttonCV {
      top: 350px;
      left: calc(50% - 200px);
    }
  }

  @keyframes AnimateBGTech {
    0% {
      background-position: 50% 100%, 50% 0%, 0% 0%, 100% 100%;
      background-size: 160px, 120px, 80px, 40px;
    }
    20% {
      background-position: 75% 0%, 25% 100%, 25% 20%, 75% 80%;
      background-size: 140px, 130px, 90px, 60px;
    }
    40% {
      background-position: 100% 100%, 0% 0%, 50% 50%, 50% 50%;
      background-size: 120px, 110px, 60px, 80px;
    }
    60% {
      background-position: 0% 100%, 100% 0%, 25% 80%, 75% 20%;
      background-size: 110px, 100px, 50px, 70px;
    }
    80% {
      background-position: 25% 0%, 75% 100%, 0% 100%, 100% 0%;
      background-size: 140px, 130px, 90px, 60px;
    }
    100% {
      background-position: 50% 100%, 50% 0%, 0% 0%, 100% 100%;
      background-size: 160px, 120px, 80px, 40px;
    }
  }
}
