.aboutMe_section {
  width: 100%;
  height: auto;
}
.aboutMe_section h1 {
  color: $Color-secundario;
  text-align: center;
}
.aboutMe_avatar {
  width: 190px;
  height: 190px;
  margin: 10px auto 20px;
  border: 2px solid $Color-complemento2;
  border-radius: 50%;
  overflow: hidden;
}
.aboutMe_avatar img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.aboutMe_social {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 40px;
  margin: 0 auto 20px;
}
.social_icon {
  width: 40px;
  height: 40px;
}
.social_icon img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.aboutMe_description h2 {
  color: $Color-secundario;
  margin-block-end: 10px;
}
.aboutMe_description p {
  margin-block-end: 20px;
}
.aboutMe_buttonCV {
  margin: 0 auto 20px;
  text-align: center;
}
.aboutMe_buttonCV button {
  display: inline;
  width: auto;
  height: 46px;
  padding: 10px 12px;
  color: $Color-claro;
  font-size: 1.8rem;
  line-height: 2.52rem;
  background-color: $Color-secundario;
  border: 2px solid $Color-complemento2;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px $Color-complemento2;
  cursor: pointer;
}
.aboutMe_hobbies {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 40px;
  margin: 0 auto 40px;
}
.hobbies_icon {
  width: 40px;
  height: 40px;
}
.hobbies_icon:first-child {
  width: 45px;
}
.hobbies_icon img {
  display: block;
  width: 100%;
  object-fit: cover;
}