.projects {
  @include description_section;
  &_project {
    width: 100%;
    height: auto;
    .project_container {
      position: relative;
      width: 100%;
      height: auto;
      margin-block-end: 20px;
      border-radius: 10px;
      background-color: $Color-primario;
      box-shadow: 1px 1px 5px 0px $Color-complemento2;
      .container_imgs {
        width: 100%;
        height: 500px;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        overflow-y: scroll;
        .imgs_mobile {
          display: block;
        }
        .imgs_mobile.isnot_active {
          display: none;
        }
        .imgs_desktop {
          display: none;
        }
        .imgs_desktop.is_active {
          display: block;
        }
      }
      .img_iterator {
        position: absolute;
        top: 475px;
        left: calc(50% - 50px);
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        width: 100px;
        height: 50px;
        border-radius: 25px;
        background-color: $Color-complemento;
        .iterator_img {
          width: 32px;
          height: 32px;
        }
        span {
          position: absolute;
          right: 2px;
          width: 46px;
          height: 46px;
          border-radius: 50%;
          background-color: $Color-secundario;
          transition: 1s linear;
        }
        span.is-active {
          left: 2px;
          right: 0;
        }
      }
      .container_description {
        width: 100%;
        height: auto;
        padding: 35px 20px 20px;
        .description_buttons {
          width: 100%;
          height: auto;
          margin-block: 20px;
          @include flex;
          .buttons button {
            @include button_mobile;
            padding: 5px 42px;
          }
        }
        .description_technologies {
          @include flex;
          justify-content: center;
          width: 100%;
          height: auto;
          .technologies_container {
            width: 60px;
            height: 57px;
            text-align: center;
            .technologies_icon {
              width: 40px;
              height: 40px;
              margin: 0 auto;
            }
            p {
              font-size: $p-size-p2;
            }
          }
        }
      }
    }
  }
}