.projects {
  @include description_section;
  &_project {
    width: 100%;
    height: auto;
    .project_container {
      width: 100%;
      height: auto;
      margin-block-end: 20px;
      border-radius: 10px;
      background-color: $Color-primario;
      box-shadow: 1px 1px 5px 0px $Color-complemento2;
      .container_imgs {
        width: 100%;
        height: 500px;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        overflow-y: scroll;
        .imgs_mobile {
          display: block;
        }
        .imgs_mobile.isnot_active {
          display: none;
        }
        .imgs_desktop {
          display: none;
        }
        .imgs_desktop.is_active {
          display: block;
        }
      }
      .container_description {
        width: 100%;
        height: auto;
        padding: 20px;
        .description_buttons {
          width: 100%;
          height: auto;
          margin-block: 20px;
          @include flex;
          .buttons button {
            @include button_mobile;
            padding: 5px 40px;
          }
        }
        .description_technologies {
          @include flex;
          justify-content: center;
          width: 100%;
          height: auto;
          .technologies_container {
            width: 60px;
            height: 57px;
            text-align: center;
            .technologies_icon {
              width: 40px;
              height: 40px;
              margin: 0 auto;
            }
            p {
              font-size: $p-size-p2;
            }
          }
        }
      }
    }
  }
}